<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.popjun.sso.cas.server.dao.BlogUserMapper">
  <resultMap id="BaseResultMap" type="com.popjun.server.domain.sso.BlogUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="pswd" jdbcType="VARCHAR" property="pswd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="status" jdbcType="BIGINT" property="status" />
  </resultMap>

  <sql id="all">
    SELECT * FROM blog_user
  </sql>

  <select id="getBlogUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    <include refid="all"/>
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="loginName != null and loginName.length()>0">
        AND login_name=#{loginName}
      </if>
      <if test="pwd != null and pwd.length()>0">
        AND pswd=#{pwd}
      </if>
    </trim>
  </select></mapper>