<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.popjun.server.admin.persist.dao.BlogRoleMapper">
  <resultMap id="BaseResultMap" type="com.popjun.server.domain.sso.BlogRole">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
  </resultMap>

  <sql id="All">
    select * from blog_role
  </sql>

  <select id="getRoleByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <include refid="All"/> LEFT join blog_user_role on blog_role.role_id = blog_user_role.role_id
    <trim  prefix="WHERE" prefixOverrides="AND | OR">
      <if test="userId !=null">
        AND blog_user_role.user_id = #{userId}
      </if>
    </trim>
  </select>

<select id="getAllRole" resultMap="BaseResultMap">
    <include refid="All"/>
</select>

</mapper>