<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.popjun.server.admin.persist.dao.BlogUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.popjun.server.domain.sso.BlogUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
</mapper>